body{
    height: 725px;
    background: linear-gradient(245.39deg, #00F0FF -2.87%, #F912FE 85.56%);
}

button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.container{
    position: relative;
    top: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window{
    margin: 0 5%;
    width: 200px;
    height: 200px;
    background: #00FF19;
    box-shadow: 6px 11px 9px rgba(0, 0, 0, 0.25);
    border-radius: 47px;
}

.number{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 192px;

    color: #FFFFFF;
}
